  <!-- src/app/about/about.component.html -->
  <section class="about">
    <div class="container">
      <h2>About Me</h2>
      <p>
        I am a passionate software developer from Las Vegas, Nevada. I am studying Computer science & Engineering at the University of Nevada, Reno. I took some fantastic classes where I got to learn Machine Learning and AI, Software Development, and Algorithms. The classes were very project-driven, and I got to create some really cool things. Outside of school, I had the fortunate opportunity to Intern at Tesla and IGT. During my internships, I got some real industry experience and got to work on complex problems and systems. I am excited to start my career and keep learning. 
      </p>
    </div>
  </section>
  
