<div cdkDropListGroup class="container board-color">
    <div class="current-card board-color" >
        <app-card></app-card>
    </div>
    <div 
        class="playing-field example-list board-color" 
        cdkDropList 
        [cdkDropListData]="player.playing" 
        (cdkDropListDropped)="drop($event)">
        <div class="play-card" *ngFor="let card of player.playing" cdkDrag>{{card}}</div>
    </div>

    <div class="economy board-color">ec</div>
    <div class="draw board-color"
        cdkDropList 
        [cdkDropListData]="player.deck" 
        (cdkDropListDropped)="drop($event)">
        <button (click)="draw()">Draw a Card</button>
    </div>
    <div 
        class="playable example-list board-color" 
        cdkDropList 
        [cdkDropListData]="player.hand"
        (cdkDropListDropped)="drop($event)">
            <div class="play-card" *ngFor="let card of player.hand " cdkDrag>{{card}}</div>
    </div>
    
    <div 
        class="discard board-color"
        cdkDropList 
        [cdkDropListData]="player.discard"
        (cdkDropListDropped)="drop($event)">
        <p class="zone-header">Discard</p>
        <div class="play-card-d" *ngFor="let card of player.discard " cdkDrag>{{card}}</div>
    </div>

    <div class="trash board-color"
    cdkDropList 
    [cdkDropListData]="player.trash"
    (cdkDropListDropped)="drop($event)">
    <p class="zone-header">Trash</p>
    <div class="play-card-d" *ngFor="let card of player.trash " cdkDrag>{{card}}</div></div>

</div>